body {
    background-color: bisque;
    color: black;

}

h1 { 
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;

}

h2 {
    color: black; 
    background-color: #aca0a0; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    color: black;
    list-style: none;
    padding:25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  
}

li {
    border: 5px solid #660808;
    border-radius: 50px;
    padding: 25px;
    width: 25%; /* Cada elemento ocupará el 25% del ancho */
    margin-bottom: 50px;
    text-align: center;
}

form {
    background-color: #c09da5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

label, input, button {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}